Additionals/Schemas/RealTimeInformationImport/20.3/RealTimeInformationImportFacade.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema elementFormDefault="qualified" targetNamespace="http://web.facade.ejb.fzd.mb.ivu.de/jaws"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="http://web.facade.ejb.fzd.mb.ivu.de/jaws"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <element name="importRealTimeInfo" type="tns:importRealTimeInfo"/>
    <element name="importRealTimeInfoResponse" type="tns:importRealTimeInfoResponse"/>
    <element name='periodicTask' type='tns:periodicTask'/>
    <element name='periodicTaskResponse' type='tns:periodicTaskResponse'/>

    <complexType name='periodicTask'>
        <sequence>
            <element name='input' type='string'/>
        </sequence>
    </complexType>
    <complexType name='periodicTaskResponse'>
        <sequence>
            <element name='output' type='string'/>
        </sequence>
    </complexType>

    <complexType name="importRealTimeInfo">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="realTimeInfoTO" type="tns:RealTimeInfoTO"/>
        </sequence>
    </complexType>
    <complexType name="importRealTimeInfoResponse">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="result" type="tns:ValidationErrorTO"/>
        </sequence>
    </complexType>
    <complexType name="AbstractRealTimeInfoTO">
        <sequence>
            <element name="eventCode" type="int" maxOccurs="1" minOccurs="1"/>
            <element name="division" type="string" maxOccurs="1" minOccurs="1"/>
            <element name="stopArea" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="timeStamp" type="long" maxOccurs="1" minOccurs="1"/>
            <element name="delta" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="vehicles" type="tns:VehicleTO" maxOccurs="unbounded" minOccurs="0"/>
            <element name="vehicleCompositions" type="tns:VehicleCompositionsTO" maxOccurs="1" minOccurs="0"/>
            <element name="trainCombinationComplete" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="tripIdentificationDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="tripNumber" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="tripStartLocation" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="track" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="tracksection" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="trackposition" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="vehicleNumber" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="employeeId" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="deviceId" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="plannedTripNumber" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="plannedTripIdentificationDate" type="long" maxOccurs="1" minOccurs="0"/>
            <element name="version" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="shuntingTrip" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="classifier" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="nextStopArea" maxOccurs="1" minOccurs="0" type="string"/>
            <element name="distanceToStopArea" maxOccurs="1" minOccurs="0" type="int"/>
        </sequence>
    </complexType>
    <complexType name="DetailTO">
        <sequence>
            <element name="cause" type="string" maxOccurs="1" minOccurs="1"/>
            <element name="comment" type="string" maxOccurs="1" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="RealTimeInfoTO">
        <complexContent>
            <extension base="tns:AbstractRealTimeInfoTO">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="details" type="tns:DetailTO"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ValidationErrorTO">
        <sequence>
            <element name="code" type="int" maxOccurs="1" minOccurs="1"/>
            <element name="message" type="string" maxOccurs="1" minOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="VehicleTO">
        <sequence>
            <element name="deviceId" type="string" maxOccurs="1" minOccurs="0"/>
            <element name="number" type="string" maxOccurs="1" minOccurs="1"/>
            <element name="position" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="orientation" type="int" maxOccurs="1" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="VehicleCompositionsTO">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="vehicleComposition" type="tns:VehicleCompositionTO"/>
        </sequence>
    </complexType>

    <complexType name="VehicleCompositionTO">
        <sequence>
            <element name="name" type="string" maxOccurs="1" minOccurs="1"/>
            <element name="positionInTrain" type="int" maxOccurs="1" minOccurs="0"/>
            <element name="leadingVehicle" type="tns:VehicleTO" maxOccurs="1" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
